<ion-view title="Order Complete" ng-init="cart.clearItems()">
  <ion-content class="has-header padding">
 
 <H4>Thanks for your Order.</H4>
 <H4>Your Order Number is #{{order_id}}.</H4>

   <button ng-click="changeState('tab.track-order','{{order_id}}')"  class="button button-calm">
    Track Your Order
  </button>
   
  <button ng-click="changeState('tab.dash','0')" class="button button-calm">
    Start Your Next Order
  </button>
   
   
   
  </ion-content>
  
</ion-view>
