<ion-view title="Order Details">
  <ion-content class="has-header padding" id="order_details">
 
      <div class="list">
      <H4>Order For</H4>

     <ion-radio  ng-model="order_for" ng-value="'2'" ng-click="cart.orderDeliveryAction(this,'2')" name="order_for">Collection</ion-radio>
     <ion-radio  ng-model="order_for" ng-value="'1'" ng-click="cart.orderDeliveryAction(this,'1')" name="order_for">Delivery</ion-radio>
     
    
     
     </div>
      
      <div class="list">
        <H4>Time Prefrence</H4>
        <label class="item item-input item-select">
          <div class="input-label">
          Time
          </div>
          <select id="time" name="time" >
            <option value="12:00:00">12:00</option>
            <option value="12:30:00">12:30</option>
             <option value="01:00:00">01:00</option>
              <option value="01:30:00">01:30</option>
             
            </select>
            
        </label>
        
      </div>
      
      <div class="list">
            <H4>Payment Method</H4>
           
          <ion-radio  ng-model="payment_method" ng-value="'cash'" name="payment_method" ng-click="cart.orderPaymentMethodAction(this)">Cash</ion-radio>
          <ion-radio  ng-model="payment_method" ng-value="'card'" name="payment_method" ng-click="cart.orderPaymentMethodAction(this)" >Card</ion-radio>
     
           
             
           
     </div>
 
 
 
    <div id="price_block">
      
      <div id="subtotal_row"><label>Sub Total:</label><label class="pblock-item">{{cart.getTotalPrice() | currency}}</label></div>
      <div id="discount_row" style="display: none;"><label>Discount:</label><label class="pblock-item">{{cart.getDiscountPrice() | currency}}</label></div>
      <div id="delivery_row" style="display: none;"><label>Delivery:</label><label class="pblock-item" >{{cart.getDeliveryPrice() | currency}}</label></div>
      <div id="maintotal_row"><label>Total:</label><label class="pblock-item">{{cart.getMainTotalPrice() | currency}}</label></div>       
      
    </div>
    <input type="hidden">
    <button  id="send-order" go-click="/tab/checkout/order/your-details"
        ng-click="cart.addOrderInfo(this)"
        ng-disabled="cart.getTotalCount() < 1"  class="button button-block button-positive">
        Place Order
    </button>
   

   
  </ion-content>
  
</ion-view>
