<ion-view title="Checkout">
  <ion-content class="has-header padding">
    
    
       <ion-list>
      
      <!-- empty cart message -->
      <ion-item ng-hide="cart.getTotalCount() > 0" >
         
              Your cart is empty.
          
      </ion-item>
                
      <ion-item ng-repeat="item in cart.items | orderBy:'name'" >
       
       <div>
              <span>{{item.name}}</span>
              <span>
               <input class="span3 text-center" type="tel" ng-model="item.quantity" ng-change="cart.saveItems()" />
                <button 
                      class="btn btn-success button button-balanced" type="button" 
                      ng-disabled="item.quantity >= 1000"
                      ng-click="cart.addItem(item.sku, item.name, item.price,item.type, +1)" >+</button>
                <button 
                      class="btn btn-inverse button button-assertive" type="button" 
                      ng-disabled="item.quantity <= 1"
                      ng-click="cart.addItem(item.sku, item.name, item.price, item.type, -1)" >-</button>
              </span>
              <span>{{item.price * item.quantity | currency}}</span>
              <span>
                    <a href="" ng-click="cart.addItem(item.sku, item.name, item.price, item.type, -10000000)" >
                      remove
                    </a>
              </span>
       </div>
      
        
      </ion-item>
    </ion-list>
       
    
        
      
      <!--span><b>{{cart.getTotalCount()}}</b></span>
      <span><b>{{cart.getTotalPrice() | currency}}</b></span -->
                    
            
      
    
    <div id="price_block">
      <div ><label>Total:</label><label class="pblock-item">{{cart.getTotalPrice() | currency}}</label></div>       
    </div>
    
     <button ng-click="cart.clearItems()"  ng-disabled="cart.getTotalCount() < 1"  class="button button-energized">
          clear cart
      </button>
     <button 
       go-click="/tab/checkout/order" 
        ng-disabled="cart.getTotalCount() < 1"  class="button button-calm">
       Next
    </button>
            
    

   
  </ion-content>
  
</ion-view>
