<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'firend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{ditem.name}}" id="menu-item-list">
  
  <ion-content has-header="true" padding="true">
    <span>
      <a href="#/tab/checkout" title="go to shopping cart" ng-disabled="cart.getTotalCount() < 1">
        Checkout :<b>{{cart.getTotalCount()}}</b> items, <b>{{cart.getTotalPrice() | currency}}</b>
      </a>
    </span>
     <ion-list>
      <ion-item ng-repeat="item in menuItems.body" type="item-text-wrap" >
        
        <a href="#" class="img-box"><img src="{{item.DishPicture}}"  class="image"> </a>
        
          <div class="item-desc">
            <span class="item-title">{{item.name}}</span>
            
             <p class="item-detail">{{item.description}}Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
             <p><span class="item-price"> &pound;{{item.price}}</span></p>
               
              <a href="" ng-click="cart.addItem(item.id, item.name, {{item.price}}, '{{item.type}}', 1)" class="button button-calm"> add to cart
                </a>
            <!--div ng-repeat="priceItem in item.price"  >
                <span class="item-price"> {{priceItem.type}} &pound;{{priceItem.price}}</span>
               
                <a href="" ng-click="cart.addItem(item.id, item.title, {{priceItem.price}}, '{{priceItem.type}}', 1)" class="button button-calm">
                    add to cart
                </a>
            </div -->
            
        </div>
         
        
      </ion-item>
    </ion-list>
     
    
    
  </ion-content>

</ion-view>
