<ion-view title="Daz Restaurant" id="splash-home">
  <ion-content class="has-header">
    <div class="home">
    <h1>Daz Restaurants</h1>
    <h3>Indian Restaurant</h3>
    <span>Eastleigh</span>
    <div>
      <img src="img/food/food1.jpg" width="150px">
    </div>
    <a ng-click="cart.clearItems()" class="button button-positive icon icon-right ion-chevron-right" href="#/tab/dash">Start Your Order</a>
    </div>
  </ion-content>
</ion-view>


