<ion-view title="Track Order">
  <ion-content class="has-header padding">


<label class="item item-input">
  <span class="input-label">Enter Your Order Number:</span>
  <input type="text">
</label>
   
  <button go-click="#/tab/dash" class="button button-full button-calm">
    Submit
  </button>
   
   
   
  </ion-content>
  
</ion-view>
