<ion-view view-title="Menu" id="menucat">
  <ion-content class="padding">
    
    <ion-list>
      <ion-item ng-repeat="item in ditems.body" type="item-text-wrap" href="#/tab/menu-items/{{item.submenu_id}}">
        <div class="cat-img">
        <img  ng-if="item.image != ''" src={{item.image}}  class="cat-image" width="100" height="50">
        <img ng-if="item.image == ''" src=img/food/default-food.png  class="cat-image" width="100" height="50">  
         </div> 
          <div class="cat-desc">
          {{item.menu_name}} 
        </div>
      </ion-item>
    </ion-list>
    
    
  </ion-content>
</ion-view>
