<ion-view title="Track Order">
  <ion-content class="has-header padding">
 
 <H4>Your Order details.</H4>
 <H4>Your Order Number is #{{order_id}}.</H4>


   
  <button go-click="#/tab/dash" class="button button-calm">
    Start Your Next Order
  </button>
   
   
   
  </ion-content>
  
</ion-view>
