<ion-view title="Your Details">
  <ion-content class="has-header padding">
 
 <H4>Your Information</H4>

  <div class="list">
   <label class="item item-input">
    <input type="text" placeholder="Title" name="title" id="title">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="First Name" name="first_name" id="fname" >
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Last Name" name="last_name" id="lname">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Email" name="email" id="email">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Contact No" name="contact_no" id="cno">
  </label>
</div>
  

 
  <div id="price_block" >

    <div id="subtotal_row"><label>Sub Total:</label><label class="pblock-item">{{cart.getTotalPrice() | currency}}</label></div>
    <div id="discount_row" style="display: none;"><label>Discount:</label><label class="pblock-item">{{cart.getDiscountPrice() | currency}}</label></div>
    <div id="delivery_row" ng-hide="cart.order_info.order_for == '2'" ><label>Delivery:</label><label class="pblock-item" >{{cart.order_info.delivery_price | currency}}</label></div>
    <div id="maintotal_row"><label>Total:</label><label class="pblock-item">{{cart.getMainTotalPrice() | currency}}</label></div>       
  
  </div>
    
     <button ng-show="cart.order_info.order_for == '2' && cart.order_info.payment_method == 'card'"  id="card-payment"
        ng-click="cart.checkout('Stripe')" 
        ng-disabled="cart.getTotalCount() < 1" class="button button-block button-positive">
         Make Payment
    </button>
     <button ng-show="cart.order_info.order_for == '1'" id="order-delivery" 
              ng-click="cart.addYourDetails()" go-click="/tab/checkout/order/your-delivery-details"
            class="button button-block button-positive">
        Next
    </button>
    <button ng-show="cart.order_info.order_for == '2' && cart.order_info.payment_method == 'cash'"  id="send-order"
         ng-click="cart.addYourDetails()"
         go-click="/tab/checkout/order/complete"
         class="button button-block button-positive">
         Send Order
    </button>
     
    <!-- Stripe needs a form to post to -->
    <form class="form-stripe"></form>

   
  </ion-content>
  
</ion-view>
