<ion-view view-title="Account">
  <ion-content>
    
    
    <div class="list">

  <a class="item item-icon-left" href="#" ng-click="changeState('tab.account-order-track-form')">
    <i class="icon ion-android-restaurant"></i>
    Track Your Order
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-android-person"></i>
    My Account
   
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-spoon"></i>
    Past Orders
   
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-email"></i>
    Book a Table
   
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-ios-list-outline"></i>
    My Bookings
  </a>
</div>
    
    

  </ion-content>
</ion-view>
