<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Menu" icon-off="icon ion-spoon" icon-on="icon ion-spoon" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab tab-chats -->
  <ion-tab title="Checkout" icon-off="icon ion-bag" icon-on="icon ion-bag" href="#/tab/checkout">
    <ion-nav-view name="tab-checkout"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Settings" icon-off="icon ion-gear-a" icon-on="icon ion-gear-a" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
  
<!-- Account Tab 
  <ion-tab title="Help" icon-off="icon ion-help" icon-on="icon ion-help" href="#/tab/account">
    <ion-nav-view name="tab-notes"></ion-nav-view>
  </ion-tab>
-->
</ion-tabs>


