/* Empty. Add your own CSS if you like */
#dashboard-list{
    
}
#dashboard-list li{
    float: left;
    width:45%;
    background-color: #18AB9A;
    text-align: center;
    height: auto;
    
    color: #FFF;
    font-weight: bold;
}

#dashboard-list li{
    margin-top: 25px;
    margin-right: 7px;
    margin-left: 7px;
    border:1px solid grey;
}

#dashboard-list .dlink{
    padding-top: 50px;
    padding-bottom: 50px;
}




#splash-home .home{
    padding: 15px;
    text-align: center;
    border: solid 1px;
}


#dashbord .cat-image{
    float: left;
    padding: 0px;
    width:65px;
}
#dashbord .cat-desc{
     float: left;
     padding: 10px;
     width:70%;
     
}
#dashbord .item-content{
    padding: 5px 45px 5px 5px;
}

#menu-item-list .item-content{
    padding: 8px 45px 8px 8px;
}
#menu-item-list .image{
    float: left;
    padding: 0px;
    width: 120px;
    height: 120px;
    
    
}



#menu-item-list .item-title{
    font-size: 14px;
    font-weight: bold;
}

#menu-item-list .item-desc{
    float: left;
    padding-left:5px;
    width:60%;
    padding-left: 20px;
}
#menu-item-list .item-detail{
   
    width: 100%;
    font-size: 12px;
     
}
#menu-item-list .item-price{
   
    font-size: 15px;
    color:#D4114B;
    font-weight: bold;
     
}

#order_details .radio_order{
    width: 50%;
    float: left;
}

#price_block {
   float: right;
    padding: 10px;
    width: 100%;
}

#price_block .pblock-item{
    float: right;
    
}



#menucat .cat-desc{
     float: left;
     padding: 10px;
     
     
}

#menucat .cat-img{
     float: left;
     
    
     
}


